<access>
  <page id="1208" loginPage="1155" noRightsPage="2532" simple="False">
    <group id="Enrolled" />
  </page>
  <page id="1256" loginPage="1155" noRightsPage="1221" simple="False">
    <group id="Billing" />
  </page>
  <page id="1218" loginPage="1155" noRightsPage="2532" simple="False">
    <group id="Enrolled" />
  </page>
</access>