<access>
  <page id="1208" loginPage="1155" noRightsPage="2532" simple="False">
    <group id="Enrolled" />
  </page>
  <page id="1256" loginPage="1155" noRightsPage="2532" simple="False">
    <group id="Enrolled" />
  </page>
  <page id="1218" loginPage="1155" noRightsPage="2532" simple="False">
    <group id="Enrolled" />
  </page>
  <page id="1213" loginPage="1155" noRightsPage="1124" simple="False">
    <group id="Registered" />
  </page>
  <page id="1214" loginPage="1155" noRightsPage="1124" simple="False">
    <group id="Registered" />
  </page>
  <page id="2532" loginPage="1155" noRightsPage="1124" simple="False">
    <group id="Registered" />
  </page>
  <page id="2710" loginPage="1155" noRightsPage="2532" simple="False">
    <group id="Enrolled" />
  </page>
</access>