<access>
  <page path="Home/Your Account"
        loginPath="Home/For Members/Login"
        errorPath="Home/Your Account/Enrollment"
        groups="Enrolled" />
  <page path="Home/Your Billing"
        loginPath="Home/For Members/Login"
        errorPath="Home/Member Center/Index"
        groups="Billing" />
  <page path="Home/Member Center"
        loginPath="Home/For Members/Login"
        errorPath="Home/Your Account/Enrollment"
        groups="Enrolled" />
  <page path="Home/Your Account/Change Email"
       loginPath="Home/For Members/Login"
       errorPath="Home"
       groups="Registered" />
  <page path="Home/Your Account/Change Password"
       loginPath="Home/For Members/Login"
       errorPath="Home"
       groups="Registered" />
  <page path="Home/Your Account/Enrollment"
       loginPath="Home/For Members/Login"
       errorPath="Home"
       groups="Registered" />
  <page path="Home/Billing"
       loginPath="Home/For Members/Login"
       errorPath="Home/Your Account/Enrollment"
       groups="Billing" />
  <page path="Home/Your Account/Enrollment Plan Confirmation"
       loginPath="Home/For Members/Login"
       errorPath="Home"
       groups="Registered" />
  
  <page path="Home/Your Account/Eligibility"
       loginPath="Home/For Members/Login"
       errorPath="Home"
       groups="Subscriber" />
  <page path="Home/Your Account/My Claims"
       loginPath="Home/For Members/Login"
       errorPath="Home"
       groups="Subscriber" />
  <page path="Home/Your Account/Temporary ID Card"
       loginPath="Home/For Members/Login"
       errorPath="Home"
       groups="Subscriber" />
  <page path="Home/Your Account/My Profile"
       loginPath="Home/For Members/Login"
       errorPath="Home"
       groups="Subscriber" />
  <page path="Home/Your Account/My Current Plan"
       loginPath="Home/For Members/Login"
       errorPath="Home"
       groups="Subscriber" />
  <page path="Home/Your Billing/Billing"
       loginPath="Home/For Members/Login"
       errorPath="Home"
       groups="Billing" />
  <page path="Home/Billing/Billing"
       loginPath="Home/For Members/Login"
       errorPath="Home"
       groups="Billing" />
  
  <page path="Home/Member Center/Right Menu/Billing"
       loginPath="Home/For Members/Login"
       errorPath="Home"
       groups="Billing" />
  <page path="Home/Member Center/Right Menu/My Profile &#38; Benefits"
       loginPath="Home/For Members/Login"
       errorPath="Home"
       groups="Subscriber" />
  <page path="Home/Member Center/Right Menu/My Claims"
       loginPath="Home/For Members/Login"
       errorPath="Home"
       groups="Subscriber" />
  <page path="Home/Member Center/Right Menu/Temporary ID Card"
       loginPath="Home/For Members/Login"
       errorPath="Home"
       groups="Subscriber" />
  <page path="Home/Member Center/Right Menu/Pharmacy"
       loginPath="Home/For Members/Login"
       errorPath="Home"
       groups="Subscriber;Dependent" />
</access>