@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="hri-common-hp row-fluid">
  <div class="span8">

    <div id="hri-carousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="item">
          <div class="slide">
            <h1>Lower<br>costs.<br>Better<br>benefits.<br>Real<br>control.</h1>
            <a href="/small-group/" class="btn btn-small hri-btn">
              Learn more <span class="caret"></span>
            </a>
          </div>
          <img src="images/carousel3.png">

        </div>
        <div class="item">
          <div class="slide">
            <h1>Not-for-Profit.<br>For People.</h1>
            <a href="/small-group/" class="btn btn-small hri-btn">
              Learn more <span class="caret"></span>
            </a>
          </div>
          <img src="images/carousel1.png">

        </div>

        <div class="item active">
          <div class="slide">
            <h1>Compare plans<br>and come<br>back to us.</h1>
            <a href="/small-group/" class="btn btn-small hri-btn">
              Learn more <span class="caret"></span>
            </a>
          </div>
          <img src="images/carousel2.png">

        </div>
      </div>

      <ol class="carousel-indicators">
        <li data-target="#hri-carousel" data-slide-to="0" class=""></li>
        <li data-target="#hri-carousel" data-slide-to="1" class=""></li>
        <li data-target="#hri-carousel" data-slide-to="2" class="active"></li>
      </ol>
    </div>
  </div>

  <div class="span4 widgets">
    <div class="row">
      <a href="#" class="hp-plan-desc blue first">

        <h3>Individual and Family</h3>

        <p>New Yorkers can select from several options to get lower... &gt;</p>

      </a>
    </div>
    <div class="row">
      <a href="#" class="hp-plan-desc purple">

        <h3>Small Group</h3>

        <p>Now you can ensure competitive health care benefits and get the... &gt;</p>

      </a>
    </div>
    <div class="row">
      <a href="#" class="hp-plan-desc green">

        <h3>Broker</h3>

        <p>Find out why brokers appreciate our health care plans, which are... &gt;</p>
      </a>
    </div>
  </div>
</div>

<div class="bottom-cta row-fluid">
  <div class="span4">
    <h4>Find a provider</h4>

    <p>
      We're proud to be using the MagnaCare Extra network, with access to thousands of doctors, specialists,
      hospitals and other healthcare providers.
    </p>
    <a href="#">Search Provider Network &gt;</a>
  </div>

  <div class="span4">
    <h4>Medication coverage</h4>

    <p>We’ve partnered with US Script to ensure access to the medications you need, when you need them. </p>
    <a href="#">Download Formulary (PDF) &gt;</a>
  </div>

  <div class="span4">
    <h4>Special announcement</h4>

    <p>
      Lorem ipsum dolor sit amet, consectet adipiscing elit. Nulla et viverra ipsum, ut condimentum magna. Lorem
      ipsum.
    </p>
    <a href="#">Lorem Ipsum Dolar Septa &gt;</a>
  </div>
</div>