@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}
<div class="hri-common-staff">
        <div class="row-fluid">
          <div class="main-lead">
            <div class="span4">
              <h3>Broker</h3>
              <ul class="unstyled inline breadcrumbs">
                <li><a href="/">Home</a></li> › <li>Broker</li>
              </ul>
            </div>

            <div class="span7 offset1">
              @Umbraco.Field("Header")

            </div>

          </div>
        </div>

        <div class="row-fluid">
          <div class="span5 offset1">

            @Umbraco.Field("LeftColumnContent")

          </div>
          <div class="span5">

            @Umbraco.Field("RightColumnContent")

          </div>
        </div>
      </div>