@using Umbraco.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}
<div id="hri-content" class="hri-login">
        <div class="row-fluid">

          <div class="span4 offset4 well">            
            <h3>Contact Us</h3>
            @{Html.RenderPartial("ContactForm", new Umbraco.Web.UI.Models.ContactFormViewModel());}
            
            <br><br>
            Want to speak with a representitive immediately? Call us at <b>888.990.5702</b>.

          </div>
        </div>
      </div>