@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}
<div class="hri-common-faqs">
      <div class="row-fluid">

        <div class="span12">
          <div class="faq-banner"></div>
        </div>

        <div class="main-lead">
          <div class="span9">
            <h3>Frequently Asked Questions</h3>
            <ul class="unstyled inline breadcrumbs">
              <li><a href="/">Home</a></li> › <li>FAQs</li>
            </ul>
          </div>


          <div class="span2">
            <div class="pull-right expand-all">[ + ] Expand all</div>
          </div>
        </div>

      </div>
	<div class="row-fluid">
		@Umbraco.Field("Content")
	</div>
</div>
	
				
				