@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}

<div class="hri-common-hp row-fluid">
    <div class="span12">
		<iframe src='@Umbraco.Field("IframeUrl")' width='99%' height='100%' style='margin-left: 3px'></iframe>
	</div>
</div>		