@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="navbar navbar-inverse navbar-fixed-top flowbar" data-flowseconds="0">
    <div class="container">
        <p>Your new Health Republic Insurance of New York account has been verified successfully, <br />you may now login using the user name and password set during registration.</p>
    </div>
</div>