<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
	<IdentityProvider Name="HRIAuth"
					  CertificateFile="App_Data/healthrepublicny.pfx"
					  CertificatePassword="hriny@123"/>


	<!-- Morneau Shepell -->
	<PartnerServiceProvider Name="SBCSystems"
							WantAuthnRequestSigned="false"
							SignSAMLResponse="true"
							SignAssertion="true"
							EncryptAssertion="false"
							AssertionConsumerServiceUrl="https://sso.sbcsystems.com:9031/sp/ACS.saml2"
							SingleLogoutServiceUrl=""
							CertificateFile="App_Data/DOOR3_LWPROD_SSO.cer"/>

	<!-- MagnaCare (UAT) -->
	<PartnerServiceProvider Name="MagnaCare"
							AssertionConsumerServiceUrl="https://clm.magnacare.com/API/SAML/HealthRepublic/Pass"
							CertificateFile="App_Data/mc_uatsaml_pub.cer"/>

	<!-- US Script -->
	<PartnerServiceProvider Name="USScript"
							WantAuthnRequestSigned="false"
							SignSAMLResponse="true"
							SignAssertion="true"
							EncryptAssertion="true"
							AssertionConsumerServiceUrl="https://members.usscript.com/account/sso"
							SingleLogoutServiceUrl=""
							CertificateFile="App_Data/ussitsps_test_pub.asc"/>

	<!-- HealthX -->
	<PartnerServiceProvider Name="HealthX"
							WantAuthnRequestSigned="false"
							SignSAMLResponse="true"
							SignAssertion="false"
							EncryptAssertion="false"
							AssertionConsumerServiceUrl="https://secure.healthx.com/PublicService/SSO/AutoLogin.aspx"
							SingleLogoutServiceUrl=""
							CertificateFile="App_Data/sso.healthx.com.crt"/>
</SAMLConfiguration>
