<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <IdentityProvider Name="HRIAuth"                   
                    CertificateFile="sp.pfx"
                    CertificatePassword="password"/>


  <!-- Morneau Shepell -->
  <PartnerServiceProvider Name="SBCSystems"
                          WantAuthnRequestSigned="false"
                          SignSAMLResponse="true"
                          SignAssertion="true"
                          EncryptAssertion="false"
                          AssertionConsumerServiceUrl="https://atlsso.uat.hroffice.com:9031/sp/ACS.saml2"
                          SingleLogoutServiceUrl=""
                          CertificateFile="SecCertMS070714.cer"/>
  
  <!-- MagnaCare (Prod) -->
  <PartnerServiceProvider Name="MagnaCare"
                          WantAuthnRequestSigned="false"
                          SignSAMLResponse="true"
                          SignAssertion="true"
                          EncryptAssertion="false"
                          AssertionConsumerServiceUrl="https://clm.magnacare.com/API/SAML/HealthRepublic/Pass"
                          SingleLogoutServiceUrl=""
                          CertificateFile="SecCertMC071114.cer"/>

  <!-- US Script -->
  <PartnerServiceProvider Name="USScript"
                          WantAuthnRequestSigned="false"
                          SignSAMLResponse="true"
                          SignAssertion="true"
                          EncryptAssertion="false"
                          AssertionConsumerServiceUrl="https://members.usscript.com/account/sso"
                          SingleLogoutServiceUrl=""
                          CertificateFile="SecCertUS071514.cer"/>

</SAMLConfiguration>
