<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <IdentityProvider Name="HRIAuth"                   
                    CertificateFile="sp.pfx"
                    CertificatePassword="password"/>


  <!-- Morneau Shepell -->
  <PartnerServiceProvider Name="SBCSystems"
                          WantAuthnRequestSigned="false"
                          SignSAMLResponse="true"
                          SignAssertion="true"
                          EncryptAssertion="false"
                          AssertionConsumerServiceUrl="https://atlsso.uat.hroffice.com:9031/sp/ACS.saml2"
                          SingleLogoutServiceUrl=""
                          CertificateFile="SecCertMS070714.cer"/>
  
  <!-- MagnaCare (UAT) -->
  <PartnerServiceProvider Name="MagnaCare"
                          AssertionConsumerServiceUrl="https://webuat.magnacare.com/WebAPI/SAML/HealthRepublic/Pass"
                          CertificateFile="mc_uatsaml_pub.cer"/>

  <!-- US Script -->
  <PartnerServiceProvider Name="USScript"
                          WantAuthnRequestSigned="false"
                          SignSAMLResponse="true"
                          SignAssertion="true"
                          EncryptAssertion="true"
                          AssertionConsumerServiceUrl="https://members.usscript.com/account/sso"
                          SingleLogoutServiceUrl=""
                          />

  <!-- HealthX. Audience (Name) must be url according to Scott Dafforn. -->
  <PartnerServiceProvider Name="https://secure.healthx.com/PublicService/SSO/AutoLogin.aspx"
                          WantAuthnRequestSigned="false"
                          SignSAMLResponse="true"
                          SignAssertion="false"
                          EncryptAssertion="false"
                          AssertionConsumerServiceUrl="https://secure.healthx.com/PublicService/SSO/AutoLogin.aspx?bc=e6fa832c-fbd3-48c7-860f-e4f04b22bab7&amp;serviceid=d99bfe58-3896-4eb6-9586-d2f9ae673052"  
                          SingleLogoutServiceUrl=""
                          CertificateFile="SecCertHX080714.cer"/>
</SAMLConfiguration>
