<?xml version="1.0"?>
<SAMLConfiguration xmlns="urn:componentspace:SAML:2.0:configuration">
  <IdentityProvider Name="HRIAuth"                   
					  CertificateFile="App_Data/hrinyorg.pfx"
					  CertificatePassword="hriny@456"
  />
<!--
					  CertificateFile="App_Data/healthrepublicny.pfx"
					  CertificatePassword="hriny@123"
-->


  <!-- Stat Doctors -->
  <PartnerServiceProvider Name="StatDoctors"
                          WantAuthnRequestSigned="false"
                          SignSAMLResponse="true"
                          SignAssertion="true"
                          EncryptAssertion="false"
                          AssertionConsumerServiceUrl="https://www.statdoctorsapp.com/Account/Login"
                          SingleLogoutServiceUrl=""/>


  <!-- Morneau Shepell -->
  <PartnerServiceProvider Name="SBCSystems"
                          WantAuthnRequestSigned="false"
                          SignSAMLResponse="true"
                          SignAssertion="true"
                          EncryptAssertion="false"
                          AssertionConsumerServiceUrl="https://sso.sbcsystems.com:9031/sp/ACS.saml2"
                          SingleLogoutServiceUrl=""
                          CertificateFile="App_Data/DOOR3_LWPROD_SSO.cer"/>
  
  <!-- MagnaCare (PROD) -->
  <PartnerServiceProvider Name="MagnaCare"
                          AssertionConsumerServiceUrl="https://clm.magnacare.com/API/SAML/HealthRepublic/Pass"
                          CertificateFile="App_Data/mc_prodsaml_pub.cer"/>

  <!-- US Script -->
  <PartnerServiceProvider Name="USScript"
                          WantAuthnRequestSigned="false"
                          SignSAMLResponse="true"
                          SignAssertion="true"
                          EncryptAssertion="true"
                          AssertionConsumerServiceUrl="https://members.usscript.com/account/sso"
                          SingleLogoutServiceUrl=""
                          />

  <!-- HealthX. Audience (Name) must be url according to Scott Dafforn. -->
  <PartnerServiceProvider Name="https://secure.healthx.com/PublicService/SSO/AutoLogin.aspx"
                          WantAuthnRequestSigned="false"
                          SignSAMLResponse="true"
                          SignAssertion="false"
                          EncryptAssertion="false"
                          AssertionConsumerServiceUrl="https://healthx.healthrepublic.us/PublicService/SSO/AutoLogin.aspx?bc=e6fa832c-fbd3-48c7-860f-e4f04b22bab7&amp;serviceid=d99bfe58-3896-4eb6-9586-d2f9ae673052"  
                          SingleLogoutServiceUrl=""
                          CertificateFile="App_Data/hrinyorg-prod-public.cer"/>
  <!-- CertificateFile="App_Data/SecCertHX080714.cer"/> -->
</SAMLConfiguration>
