@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}
<div class="row-fluid">
	<div class="span12">
		
		<div id="hri-content">
			<div class="row-fluid">
				
					<div class="span12">
						

						<iframe id="ssoif" class="hri-iframe" width="100%" height="800" src="https://newyork.healthrepublic.us/sso/genportal/magnacare_pcp/auth/default/?cb=ici1GZWscmjLV17"></iframe>
						

						<!-- major-col-content -->
					</div>
				<!-- major-col -->
				
					<!-- blank -->
				<!-- minor-col -->
			</div>
		</div>
		<!-- content -->
	</div>
</div>