@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
  Layout = "MasterPage.cshtml";
}
<div class="hri-common-board">
   <div class="row-fluid">
     <div class="main-lead">
       <div class="span4">
         <h3>Board of Directors</h3>
         <ul class="unstyled inline breadcrumbs">
           <li><a href="/">Home</a></li> ›
           <li>Board of Directors</li>
         </ul>
       </div>

       <div class="span7 offset1">
         <p>@Umbraco.Field("Header")</p>
       </div>

     </div>
   </div>
  <div class="row-fluid">
    <div class="span5 offset1">
      @Umbraco.Field("LeftColumnContent")
    </div>
    <div class="span5">
      @Umbraco.Field("RightColumnContent")
    </div>
  </div>
</div>