@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}
<div id="hri-content" class="hri-compare-plans">
    <div class="row-fluid">

    <div class="span12">

        <div class="content">
        <div class="row-fluid">
            <div class="span4 offset1">
            <h2 class="page-title">Compare Plans</h2>
            <span class="page-breadcrumbs"><a href="#">Home</a> › <a href="#">Individual Plans</a> ›</span>
            <span class="page-breadcrumbs breadcrumb-end">Smart Engage</span>
            <br><br>
            </div>
            <div class="span6">
            <p class="dark-purple text-justify">
				@Umbraco.Field("Header")
            </p>
            </div>
        </div>
        @{ Html.RenderPartial("ComparePlansForm"); }
        </div>
    </div>
    </div>
</div>