@using HRI.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}
<div id="hri-content" class="hri-compare-plans">
    <div class="row-fluid">

    <div class="span12">

        <div class="content">
        <div class="row-fluid">
            <div class="span4 offset1">
            <h2 class="page-title">Compare Plans</h2>
            <span class="page-breadcrumbs"><a href="/">Home</a> › <a href="/shop-for-plans/individual-plans/">Individual Plans</a> ›</span>
            <span class="page-breadcrumbs breadcrumb-end">Compare Plans</span>
            <br><br>
            </div>
            <div class="span6">
            <p class="dark-purple text-justify">
				@(TempData["ShowPlans"] == null ? Umbraco.Field("Header") : MvcHtmlString.Empty)
            </p>
            </div>
        </div>
        @{
            if (TempData["ShowPlans"] != null) {
                Html.RenderPartial("PlansList", TempData["model"]);
            } else {
                Html.RenderPartial("ComparePlansForm", TempData["model"] ?? new ComparePlansViewModel());
            }
        }
        </div>
    </div>
    </div>
</div>