@inherits UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}
<div id="hri-content">
    <div class="row-fluid">

        <div class="span4 offset4 well regular-form">

        <h3>@Umbraco.Field("FormTitle")</h3>

        @{Html.RenderPartial("ForgotPasswordForm", Model.Content);}

        <div id="change_confirmation"></div>
        </div>
    </div>
</div>