@using HRI.Controllers

@inherits UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";

    var url = HttpUtility.HtmlDecode(Umbraco.Field("IframeUrl").ToHtmlString());
    var targetUrl = Model.Content.GetPropertyValue<string>("samlTargetUrl");
    var pageType = Model.Content.GetPropertyValue<string>("pageType");
    var formTarget = (pageType == "Redirect into same tab") ? "" : "serviceProviderIFrame";
    var serviceProvider = Model.Content.GetPropertyValue<string>("serviceProvider");
    var useSSO = Model.Content.GetPropertyValue<bool>("sendSamlAssertion");

    string sp = string.Empty;

    if (useSSO)
    {
        @* These statements are used to associate a service providers name
            with their SAML name in the SAML.config file *@
        switch (serviceProvider)
        {
            case "Morneau Shepell":
                sp = "SBCSystems";
                break;
            case "MagnaCare":
                sp = "MagnaCare";
                break;
            case "US Script":
                sp = "USScript";
                break;
            case "Adam / Ebix":
                sp = "AdamEbix";
                break;
            case "HealthX":
                sp = "https://secure.healthx.com/PublicService/SSO/AutoLogin.aspx";
                break;
            case "HealthX Mobile":
                sp = "https://secure.healthx.com/PublicService/SSO/AutoLogin.aspx?mobile=1";
                break;
            case "StatDoctors":
                sp = "StatDoctors";
                break;
            default:
                throw new NotImplementedException(string.Format("Unknown service provider: '{0}'.", Umbraco.Field("serviceProvider")));
        }
    }

    var frameHeight = Umbraco.Field("frameHeight").ToString();
    if (frameHeight == "") { frameHeight = "900px"; }

}

<div class="hri-common-hp row-fluid">
    <div class="span12">
        @if (useSSO)
        {
            <div class="row-fluid" id="samlLoader" style="height: @frameHeight">
                <div class="span5 status">
                    <span>Fetching your information...</span>
                </div>
                <div class="span7 loader">
                    <img src="/images/saml-loader.gif" />
                </div>
            </div>
            <iframe name="serviceProviderIFrame" id="serviceProviderIFrame" src="#" width="99%" height="@frameHeight" style="margin-left: 3px"></iframe>
            using (Html.BeginUmbracoForm<MembersSurfaceController>("SingleSignOn", new { attributes = "-1", targetUrl, partnerSP = sp }, new { target = @formTarget }))
            {
                <button style="display: none;" id="urlLoader" type="submit" class="btn hri-btn"></button>
            }
            <script type="text/javascript">
                document.getElementById("urlLoader").click();
            </script>

            <script type="text/javascript">
                var lastUrlUpdate;
                var shouldCheckPage = true;
                $('#serviceProviderIFrame').load(function () {
                    function hideLoader() {
                        $('#serviceProviderIFrame').show();
                        $('#samlLoader').hide();
                        shouldCheckPage = false;
                    }

                    try {
                        var currentUrl = this.contentWindow.location.href;
                        lastUrlUpdate = new Date();
                        if (currentUrl.indexOf('sso/unavailable') != -1 || currentUrl.indexOf(location.host) == -1)
                            hideLoader();
                    } catch (err) {
                        hideLoader();
                    }
                });

                var pageCheckInterval = setInterval(function () {
                    if (!shouldCheckPage) {
                        clearInterval(pageCheckInterval);
                        return;
                    }
                    var currentTime = new Date();
                    var diff = (currentTime - lastUrlUpdate) / 1000;
                    if (diff > 35)
                        window.location.replace('/sso/unavailable');
                }, 5000);
            </script>
        }
        else
        {
            if (Model.Content.GetPropertyValue<bool>("sendEbixId"))
            {
                <script>
                    $.ajax({
                        url: "/umbraco/api/HriApi/GetEbixIdByUserName?username=@Membership.GetUser().UserName",
                        success: function (data) {
                            var url = '@url' + '&amp;uid=' + data.replace(/\"/g, "");
                            $('<iframe src="' + url + '" width="99%" height="@frameHeight" style="margin-left: 3px"></iframe>').appendTo('.hri-common-hp div');
                        },
                        dataType: 'html'
                    });
                </script>
            }
            else
            {
                <iframe src='@Umbraco.Field("IframeUrl")' width='99%' height='@frameHeight' style='margin-left: 3px'></iframe>
            }
        }
    </div>
</div>		