@inherits UmbracoTemplatePage
@{
  Layout = "MasterPage.cshtml";
}
<div class="hri-common-board">
   <div class="row-fluid">
     <div class="main-lead">
         @Umbraco.RenderMacro("breadcrumb", new {Span = "span4"})

       <div class="span7 offset1">
         <p>@Umbraco.Field("Header")</p>
       </div>

     </div>
   </div>
  <div class="row-fluid">
    <div class="span5 offset1">
      @Umbraco.Field("LeftColumnContent")
    </div>
    <div class="span5">
      @Umbraco.Field("RightColumnContent")
    </div>
  </div>
</div>