@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
  Layout = "MasterPage.cshtml";
}
<div class="hri-common-board">
  <div class="row-fluid">
    <div class="main-lead">
      @Umbraco.RenderMacro("breadcrumb", new { Span = "span12" })
    </div>
  </div>
  <div class="row-fluid">
    <div class="span5 offset1">
      @Umbraco.Field("LeftColumnContent")
    </div>
    <div class="span5">
      @Umbraco.Field("RightColumnContent")
    </div>
  </div>
</div>