@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}

<div id="hri-content" class="hri-registration">
    <div class="row-fluid">
        <div class="span12">
            <div class="content">
                <div class="row-fluid">
                    <div class="span4 offset1">
                        <h2 class="page-title">Register</h2>
                        <span class="page-breadcrumbs"><a href="/">Home</a> ›</span>
                        <span class="page-breadcrumbs breadcrumb-end">Register</span>
                        <br><br>
                    </div>
                </div>
                @Html.Partial("RegisterMemberForm")
            </div>
        </div>
    </div>
</div>

