@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}
<div id="hri-content">
        <div class="row-fluid">

          <div class="span4 offset4 well regular-form">

            <h3>Re-send Email Verification Link</h3>

            @{Html.RenderPartial("ResendEmailForm", Model.Content);}

            <!-- major-col-content -->
          </div>
          <!-- major-col -->

          <!-- blank -->
          <!-- minor-col -->
        </div>
      </div>