@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "MasterPage.cshtml";

    
}
<div id="hri-content">
    <div class="row-fluid">
        <div class="span4 offset4 well regular-form">
            <h3>We are upgrading our security system</h3>

            <p>In order to provide you with a more secure user experience, we are requiring members to update their passwords before they can log in.</p>
            <p>We have sent a message to your registered email with a link that will allow you to reset your password and login.</p>
                        
        </div>
    </div>
</div>