@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPage.cshtml";
}

<div id="hri-content">
    <div class="row-fluid">
        <div class="span6 offset3 well regular-form">
            <h3>Please Verify Your Account</h3>
            <p>A message has been sent to the email address you provided to us. Please open the email and click the link inside to activate your account.<p>
            <p>If you did not receive the email, check your junk folder to make sure it wasn't filtered. Also, you can try resending the verification email.</p>
        </div>
    </div>
</div>