@inherits Umbraco.Web.Macros.PartialViewMacroPage

<li data-target="#hri-carousel" data-slide-to="0" class="active"></li>	

@for(var slide = 1; slide < Model.MacroParameters["numberOfSlides"].ToString().AsInt(); slide++)
{
<li data-target="#hri-carousel" data-slide-to="@slide" class=""></li>
}	 
