@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    if (User.Identity.IsAuthenticated)
    {
        var pdfLink = "/";
        var policyNumber = Members.GetCurrentMember().GetPropertyValue<string>("healthPlanId");
        var pdfFolderId = Umbraco.ContentAtRoot().First().GetPropertyValue<string>("pdfFolder");
        var docs = Umbraco.Media(pdfFolderId).Children;
        foreach (var n in docs)
        {
            if (string.Compare((string)n.Name, policyNumber + ".pdf", StringComparison.OrdinalIgnoreCase) == 0)
            {
                pdfLink = n.Url;
                break;
            }
        }
        <ul><li><a href="@pdfLink" target="_blank">Policy / Contract / Certificate of Coverage</a></li></ul>
    }
}
